@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: aliceblue;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 1000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    .container {
        width: 90vw;
    }
}
